<footer>
    <p>El Bodegon, Argentina</p>
    <p class="copy">Copyright © 2023 Todos los derechos reservados.</p>
    <div class="redes">
      <a href="https://www.instagram.com/" class="insta"
        ><i class="fab fa-instagram instagram"></i
      ></a>
      <a href="https://www.facebook.com/" class="face"
        ><i class="fab fa-facebook facebook"></i
      ></a>
      <a href="https://twitter.com/" class="twi"
        ><i class="fab fa-twitter twitter"></i
      ></a>
    </div>
  </footer>