<nav class="nav-var">
    <div class="logo">
      <a href="/"
        ><img src="/img/logo_elbodegon.png" alt="lgo" width="10%" id="logo"
      /></a>
    </div>
    <div class="lista">
      <ul>
        <li><a href="/producto/menu">Menu</a></li>
        <li><a href="/producto/recetas">Recetas</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li>
          <a href="/producto/carrito"
            ><i class="fa-solid fa-cart-shopping" style="color: #ffffff"></i
          ></a>
        </li>
        <li><a href="/user/login">Login</a></li>
      </ul>
    </div>
    <a href="#" class="burger-menu">
      <i class="fas fa-bars"></i>
    </a>
  </nav>