<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>El Bodegon</title>
  </head>
  <body>
    <a href="http://localhost:3003/carrito">Carrito</a>
    <br />
    <a href="http://localhost:3003/vista-producto">Producto detail</a>
    <br>
    <a href="http://localhost:3003/login">Login</a>
    <br>
    <a href="http://localhost:3003/register">Register</a>
  </body>
</html>
