<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/formularios.css">
</head>

<body>
   <main>
    <div class="contenedor-fuera">
      <a href="/"><button class="botonX">X</button></a>
    <div class="contenedor">
      <img src="/img/logo_elbodegon.png" alt="Logo" class="logo">
      <form class="login-form">
          <div class="header">
              <div class="signup-login-box">
                <div class="login">
                  <a href="/login"><h2>Login</h2></a>
                </div>
                <div class="signup">
                  <a href="/register"><h2>Sign Up</h2></a>
                </div>
              </div>
              <h3 class="bodegon">El Bodegon</h3>
            </div>
        <div class="form-contenido">
          <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
          </div>
          <div class="input-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="input-group">
            <label for="password">Create Password:</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div class="input-group">
            <label for="confirm-password">Repeat Password:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
          </div>
          <p class="olvidar-password"><a href="#">Olvidé mi contraseña</a></p>
          <div class="buttons">
            <input type="submit" value="Iniciar Sesión" id="inciar-sesion">
            <button class="google-button">Google</button>
            <button class="facebook-button">Facebook</button>
          </div>
        </div>
      </form>
    </div>
  </div>
   </main>
  </body>
  
  