/*Carrousel*/
.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  }
  
  .slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;
  }
  
  .slide-open:checked + .slide-item {
    position: static;
    opacity: 1;
  }
  
  .slide-item {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
  }
  
  .slide-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
  }
  
  .slide-control.prev {
    left: 2%;
  }
  
  .slide-control.next {
    right: 2%;
  }
  
  .slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
  }
  
  #slide-1:checked ~ .control-1,
  #slide-2:checked ~ .control-2,
  #slide-3:checked ~ .control-3 {
    display: block;
  }
  
  .slide-indicator {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
  }
  
  .slide-indicator li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .slide-circle {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
  }
  
  .slide-circle:hover {
    color: #aaaaaa;
  }
  
  #slide-1:checked ~ .slide-indicator li:nth-child(1) .slide-circle,
  #slide-2:checked ~ .slide-indicator li:nth-child(2) .slide-circle,
  #slide-3:checked ~ .slide-indicator li:nth-child(3) .slide-circle {
    color: #428bca;
  }
  
