.container {
  margin-top: 150px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 84px;
  justify-content: space-evenly;
  align-items: center;
  background-color: beige;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* ----------------------------------------------------------------------- */

.left-box-primary {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.username-text-center {
  width: 42%;
  margin-left: 50px;
  font-size: 50px;
}

.image {
  margin-bottom: 10px;
  border-radius: 50%;
  border: solid 2px black;
}

.boton-editar {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
  margin-right: 40px;
}

.form-horizontal {
  margin-top: 15px;
}

.contenido-foto-edit {
  display: flex;
}

main {
  margin: 130px 0 100px;
}

.body {
  background-color: #f9e8da;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  font-size: 1.2rem;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid rgba(65, 65, 65, 0.5);
  border-radius: 12px;
  font-weight: bold;
  margin: 20px;
}

button {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #469e3c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-left: 4vw;
}

button:hover {
  background-color: #41cd32;
  color: #f1f1f1;
}

@media (max-width: 565px) {
  .username-text-center {
    display: none;
  }
  .container {
    align-items: center;
  }
  .contenido-foto-edit {
    justify-content: center;
  }
  .boton-editar {
    margin-top: 50px;
  }
  .form-horizontal {
    margin-top: 50px;
  }
}
