@media (max-width: 600px) {
    /* Estilos específicos para dispositivos móviles */
    .contenedor {
      padding: 10px;
    }
  
    .login-form {
      padding: 10px;
    }
  
    .signup,
    .login {
      padding: 8px 16px;
      margin: 0 8px;
    }
  
    .bodegon {
      margin: 8px 0;
    }
  
    .login-form label {
      margin-bottom: 8px;
    }
  
    .login-form input[type="text"],
    .login-form input[type="password"],
    .login-form input[type="email"] {
      padding: 8px;
      margin-bottom: 10px;
    }
  
    .login-form input[type="submit"] {
      padding: 8px;
      margin-top: 8px;
    }
  
    .forgot-password {
      margin-top: 8px;
    }
  }