@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*Nav Bar*/

header a {
  text-decoration: none;
  color: rgb(180, 178, 178);
}

.li-nav{
  margin-top: 10px;
}
.lista {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
#logo {
  width: 60%;
  margin: 10px;
}
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

.nav-var {
  color: rgb(236, 236, 236);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  font-size: 1.2rem;
  padding: 0px;
  width: 100%;
  height: 13%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

.burger-menu {
  display: none;
  color: #ffffff;
  border-radius: 8px;
  font-size: 40px;
}

.lista-nav{
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}

.container-user{
  display: flex;
  flex-direction: row;
}

.top{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top img{
  border-radius: 50%;
}

.top p{
  margin-top: 5px;
  font-size: 15px;
  color: #fff;
}

.bottom{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 35px;
}

.logout{
  height: 70%;
  width: 100%;
  color: black;
  background-color: #ffffff44;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.loog {
  margin-top: 10px;
}

/*Footer*/

footer {
  bottom: 0;
  width: 100%;
  display: flex;
  height: 84px;
  justify-content: space-evenly;
  align-items: center;
  background-color: beige;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.redes i {
  margin: 2px 8px;
}

.redes {
  display: flex;
  font-size: 24px;
}

.redes a {
  color: #000;
  background-color: #f0f0f0;
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.5s ease;
}

.redes a.insta:hover {
  background-color: #7a21b6;
}

.redes a.insta:hover i {
  color: #fff;
}

.redes a.face:hover {
  background-color: #1877f2;
}

.redes a.face:hover i {
  color: #fff;
}

.redes a.twi:hover {
  background-color: #1877f2;
}

.redes a.twi:hover i {
  color: #fff;
}

.instagram {
  color: #7a21b6;
}

.facebook {
  color: #1877f2;
}

.twitter {
  color: #1877f2;
}

.red {
  height: 20px;
  width: 20px;
}

p,
button,
input {
  font-weight: bold;
}

@media screen and (max-width: 1050px) {
  .nav-var {
    justify-content: space-between;
  }

  .lista {
    justify-content: flex-end;
    margin-right: 20px;
  }

  
}

@media (max-width: 830px) {
  .lista {
    display: none;
  }

  .burger-menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
  }

  .copy {
    display: none;
  }
}

@media (max-width: 500px) {
  .redes a {
    font-size: 15px;
  }
}
