<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <header><%- include("../partials/navbar") %></header>
    <main>
      <section>
        <div class="us-left">
          <h2>Sobre Nosotros</h2>
        </div>
        <div class="us-right">
          <p>
            Bienvenido a "El Bodegón", donde la esencia culinaria de Argentina
            se fusiona con la comodidad de disfrutarla en tu hogar. Nuestra
            pasión por la gastronomía se refleja en cada detalle, especialmente
            en nuestros exquisitos filetes preparados con dedicación y sazonados
            con las auténticas especias de nuestra tierra. Desde el primer
            bocado, te transportarás a los sabores más emblemáticos de
            Argentina, mientras disfrutas de la jugosidad y ternura que solo
            nuestros filetes pueden ofrecer, cocinados a tu gusto para
            satisfacer tus preferencias. Nos enorgullece compartir nuestra
            tradición culinaria contigo, brindándote una experiencia inolvidable
            llena de sabores y aromas que harán de cada comida un verdadero
            festín.
          </p>
        </div>
      </section>
      <section>
        <div class="try-left">
          <p>
            En "El Bodegón en Casa", la calidad y autenticidad son nuestro sello
            distintivo. No solo te ofrecemos la posibilidad de deleitarte con
            nuestra selección de filetes exquisitamente preparados, sino que
            también te brindamos la opción de llevar a tu cocina la experiencia
            de cocinar con ingredientes de primera calidad.
          </p>
        </div>
        <div class="try-right">
          <h2>Prueba la verdadera Carne Argentina</h2>
        </div>
      </section>
    </main>
    <%- include("../partials/footer") %>
    <%- include('../partials/script') %>
  </body>
</html>
