<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/nosotros.css" />
    <title>Sobre Nosotros</title>
  </head>

  <body>
    <header>
      <nav class="nav-var">
        <div class="logo">
          <a href="/"
            ><img src="img/logo_elbodegon.png" alt="lgo" width="10%" id="logo"
          /></a>
        </div>
        <div class="lista">
          <ul>
            <li><a href="/producto/menu">Menu</a></li>
            <li><a href="/producto/recetas">Recetas</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li>
              <a href="/producto/carrito"
                ><i class="fa-solid fa-cart-shopping" style="color: #ffffff"></i
              ></a>
            </li>
            <li><a href="/user/login">Login</a></li>
          </ul>
        </div>
        <a href="#" class="burger-menu">
          <i class="fas fa-bars"></i>
        </a>
      </nav>
    </header>
    <main>
      <section>
        <div class="us-left">
          <h2>Sobre Nosotros</h2>
          <img src="/img/vacio.jpg" alt="" width="200px" />
        </div>
        <div class="us-right">
          <p>
            Bienvenido a "El Bodegón", donde la esencia culinaria de Argentina
            se fusiona con la comodidad de disfrutarla en tu hogar. Nuestra
            pasión por la gastronomía se refleja en cada detalle, especialmente
            en nuestros exquisitos filetes preparados con dedicación y sazonados
            con las auténticas especias de nuestra tierra.
          </p>
          <p>
            Desde el primer bocado, te transportarás a los sabores más
            emblemáticos de Argentina, mientras disfrutas de la jugosidad y
            ternura que solo nuestros filetes pueden ofrecer, cocinados a tu
            gusto para satisfacer tus preferencias. Nos enorgullece compartir
            nuestra tradición culinaria contigo, brindándote una experiencia
            inolvidable llena de sabores y aromas que harán de cada comida un
            verdadero festín.
          </p>
        </div>
      </section>
      <section>
        <div class="try-left">
          <p>
            En "El Bodegón en Casa", la calidad y autenticidad son nuestro sello
            distintivo. No solo te ofrecemos la posibilidad de deleitarte con
            nuestra selección de filetes exquisitamente preparados, sino que
            también te brindamos la opción de llevar a tu cocina la experiencia
            de cocinar con ingredientes de primera calidad.
          </p>
        </div>
        <div class="try-right">
          <h2>Prueba la verdadera Carne Argentina</h2>
          <img src="/img/vacio.jpg" alt="" />
        </div>
      </section>
    </main>
    <footer>
      <p>El Bodegon, Argentina</p>
      <p class="copy">Copyright © 2023 Todos los derechos reservados.</p>
      <div class="redes">
        <a href="https://www.instagram.com/" class="insta"
          ><i class="fab fa-instagram instagram"></i
        ></a>
        <a href="https://www.facebook.com/" class="face"
          ><i class="fab fa-facebook facebook"></i
        ></a>
        <a href="https://twitter.com/" class="twi"
          ><i class="fab fa-twitter twitter"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
