<!DOCTYPE html>
<html>
  <%- include("../partials/head")  %>
  <body>
    <main>
      <div class="contenedor-fuera">
        <a href="/"><button class="botonX">X</button></a>
        <div class="contenedor">
          <form class="login-form">
            <div class="header">
              <div class="signup-login-box">
                <div class="login">
                  <a href="/user/login"><h2>Login</h2></a>
                </div>
                <div class="signup">
                  <a href="/user/register"><h2>Sign Up</h2></a>
                </div>
              </div>
              <a href="/"><h3 class="bodegon">El Bodegon</h3></a>
            </div>
            <div class="form-contenido">
              <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required />
              </div>
              <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required />
              </div>
              <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required />
              </div>
              <div class="input-group" style="display: flex">
                <label for="keep-session">Mantener sesión</label>
                <input type="checkbox" id="keep-session" name="keep-session" />
              </div>
              <p class="olvidar-password">
                <a href="#">Olvidé mi contraseña</a>
              </p>
              <div class="buttons">
                <input
                  type="submit"
                  value="Iniciar Sesión"
                  id="inciar-sesion"
                />
                <button class="google-button">Google</button>
                <button class="facebook-button">Facebook</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>