<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <header><%- include("../partials/navbar") %></header>
    <main>
      <h2>Recetas</h2>
      <section>
        <article class="recipe">
          <div class="left-container">
            <div class="title-wrapper">
              <h4 class="recipe-title">
                Lomo de Res a la Parrilla con Chimichurri
              </h4>
              <label for="toggle-recipe" class="dropdown-arrow">▼</label>
            </div>
            <input type="checkbox" id="toggle-recipe" class="toggle-recipe" />
            <div class="text-container">
              <p>Ingredientes:</p>
              <br />
              <p>
                Lomo de res, sal, pimienta, perejil, ajo, aceite de oliva,
                vinagre de vino tinto, orégano, pimiento rojo (opcional).
              </p>
              <br />
              <p>Instrucciones:</p>
              <br />
              <p>
                Sazona y cocina los filetes de lomo en la parrilla. Prepara el
                chimichurri mezclando los ingredientes. Sirve con chimichurri
                por encima.
              </p>
            </div>
          </div>
          <div class="right-container">
            <img src="/img/lomo.jpg" alt="" />
          </div>
        </article>
        <article class="recipe">
          <div class="left-container">
            <div class="title-wrapper">
              <h4 class="recipe-title">
                Salmón al Horno con Salsa de Mantequilla y Limón
              </h4>
              <label for="toggle-recipes" class="dropdown-arrow">▼</label>
            </div>
            <input type="checkbox" id="toggle-recipes" class="toggle-recipe" />
            <div class="text-container">
              <p>Ingredientes:</p>
              <br />
              <p>
                Filetes de salmón, sal, pimienta, mantequilla, jugo de limón,
                ajo, perejil.
              </p>
              <br />
              <p>Instrucciones:</p>
              <br />
              <p>
                Sazona el salmón y hornea con la mezcla de mantequilla y limón.
                Decora con rodajas de limón antes de servir.
              </p>
            </div>
          </div>
          <div class="right-container">
            <img src="/img/salmon.jpg" alt="" />
          </div>
        </article>
        <article class="recipe">
          <div class="left-container">
            <div class="title-wrapper">
              <h4 class="recipe-title">Tarta de Manzana Casera</h4>
              <label for="toggle-recipes2" class="dropdown-arrow">▼</label>
            </div>
            <input type="checkbox" id="toggle-recipes2" class="toggle-recipe" />
            <div class="text-container">
              <p>Ingredientes:</p>
              <br />
              <p>
                Harina, azúcar, sal, mantequilla, huevo, agua, manzanas, canela,
                jugo de limón.
              </p>
              <br />
              <p>Instrucciones:</p>
              <br />
              <p>
                Mezcla los ingredientes de la masa y refrigérala. Mezcla las
                manzanas con azúcar, canela y limón. Arma la tarta y hornea
                hasta dorar.
              </p>
            </div>
          </div>
          <div class="right-container">
            <img src="/img/tarta.jpg" alt="" />
          </div>
        </article>
      </section>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
