/*Paleta de Colores:

#2A1D10
#BF6B04
#BFA78A
#592E15 Marron
#F2F2F2
#94774c
rgba(0, 0, 0, 0.7)


*/

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html{
  background-image: url("../img/formBack.jpg");
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat; 
}
.contenedor-fuera {
  display: flex;
  justify-content: center;
  position: relative;
}

.botonX {
  position: absolute;
  top: 26px;
  right: 359px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  border: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ab1c1c;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 750px;
  width: 80%;
  background-color: #ffffffc7;
  border: 1px solid #ccc;
  border-radius: 15px;
  height: 91vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.error-messages{
  margin-bottom: 20px;
  color: red;
}

.login-form {
  max-width: 90%;
  width: 85vw;
  max-height: 90%;
  padding: 3vw;
  padding-top: 1vw;
  background-color: #fff0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1vh;
}

.signup-login-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup,
.login {
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  text-align: center;
}

.login:hover,
.signup:hover {
  background-color: #e0e0e0;
}

.signup h2,
.login h2 {
  margin: 0;
  color: #333;
  text-decoration: none;
}

.login a {
  text-decoration: none;
  color: black;
}

.signup a {
  text-decoration: none;
  color: black;
}

.input-group label {
  width: 150px; /* Ancho deseado para las etiquetas */
}

.input-group input[type="password"] {
  width: calc(
    100% - 150px
  ); /* Resta el ancho de la etiqueta al 100% del ancho del contenedor */
}

.bodegon {
  margin: 10px 0;
  color: #333;
}

.login-form label {
  display: block;
  color: black;
  font-weight: 700;
  margin: 0 4px;
  width: auto;
}
.see-password2{
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.login-form #username,
.login-form #email,
.login-form #password,
.login-form #Rpassword {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}

.login-form #inciar-sesion {
  color: #fff;
  background-color: #d66e18;
  border: none;
  width: 100%;
  padding: 12px 24px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.login-form #inciar-sesion:hover {
  background-color: #666666;
}

.olvidar-password {
  margin: 10px 0;
  text-align: right;
}

.olvidar-password a {
  color: #333;
  text-decoration: none;
  font-size: 13px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.buttons button {
  padding: 10px 20px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  width: 100%;
}

.google-button {
  background-color: #db4a39;
  color: black;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.google-button:hover {
  background-color: #c53727;
  color: #fff;
}

.facebook-button {
  background-color: #3b5998;
  color: black;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.facebook-button:hover {
  background-color: #2d4373;
  color: #fff;
}

@media (max-width: 600px) {
  .contenedor {
    padding: 10px;
  }

  .login-form {
    padding: 30px;
  }

  .signup,
  .login {
    padding: 8px 16px;
    margin: 10px;
  }

  .signup h2,
  .login h2 {
    font-size: 16px;
  }

  .bodegon {
    margin: 8px 0;
  }

  .login-form label {
    margin-bottom: 8px;
  }

  .login-form #username,
  .login-form #email,
  .login-form #password
  .login-form #Rpassword {
    padding: 8px;
    margin-bottom: 10px;
  }

  .login-form #inciar-sesion {
    padding: 8px;
    margin-top: 8px;
  }

  .olvidar-password {
    margin-top: 8px;
  }
}
