html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}



body {
  margin: 0;
  padding: 0px;
  color: #000;
  font-family: sans-serif;
  background-color: #d6d2b5;
}
section.card {
  background: linear-gradient( 142deg, rgba(42, 29, 16, 1) 11%, rgba(191, 167, 138, 0.9396984924623115) 47%, rgba(89, 46, 21, 1) 89% );
    border-radius: 24px 24px 24px 48px;
    padding: 48px 48px 48px 308px;
    margin: 304px 0px;
    min-width: 640px;
    display: flex;
    flex-direction: row;
    position: relative;
}
section.card .text-content {
  display: flex;
  flex-direction: column;
  width: calc(60vw - 192px);
}
section.card .text-content h3 {
  margin: 0;
  font-size: 1.5em;
  max-width: 20ch;
  color: #fff;
}
section.card .text-content p {
  margin: 25px 0 24px;
  color: #fff;
}
section.card .text-content button {
  border: 3px solid #f2f2f2;
  color: #916941;
  align-self: flex-start;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 12px;
  transition: 400ms all;
}
.botones-producto {
  display: flex;
  gap: 10px; 
}
section.card .text-content button:hover {
  background: #614529;
  color: white;
}
section.card .visual {
  width: 240px;
  height: 100%;
  position: absolute;
  top: -24px;
  left: 24px;
  overflow: hidden;
  border-radius: 24px;
}
section.card .visual img {
  height: 100%;
  width: 100%;
}
article {
  margin: auto;
  display: block;
  width: calc(60vw + 248px);
  max-width: calc(920px + 248px);
  min-width: calc(640px + 248px);
}
@media (max-width: 1100px) {
  article {
    width: 100%;
    min-width: 100%;
  }
  section.card {
    min-width: 80%;
    width: 80%;
    margin-left: 70px;
  }
  section.card .text-content {
    width: 100%;
  }
}
@media all and (max-width: 720px) {

  section.card {
    padding: 88px 36px 36px;
    flex-direction: column;
    border-radius: 24px;
  }
  section.card .text-content h3 {
    max-width: calc(100% - 150px);
    font-size: 1em;
  }
  section.card .text-content p,
  section.card .text-content button {
    font-size: 0.8em;
  }
  section.card .visual {
    width: 150px;
    height: 150px;
    right: 16px;
    left: auto;
    border-radius: 50%;
  }
  section.card .visual img {
    width: 100%;
  }
}
