<!DOCTYPE html>
<html>
  <body>
    <main>
      <div>
        <h2>PAGINA NO DISPONIBLE</h2>
        <br />
        <a href="/">VOLVE A LA PAGINA PRINCIPAL</a>
      </div>
    </main>
  </body>
</html>
