<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/carrito.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Carrito de compras</title>
  </head>
  <body>
    <header>
      <%- include("../partials/navbar")  %>
      <!-- <nav class="nav-var">
        <div class="logo">
          <a href="/"
            ><img src="/img/logo_elbodegon.png" alt="lgo" width="10%" id="logo"
          /></a>
        </div>
        <div class="lista">
          <ul>
            <li><a href="/producto/menu">Menu</a></li>
            <li><a href="/producto/recetas">Recetas</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li>
              <a href="/producto/carrito"
                ><i class="fa-solid fa-cart-shopping" style="color: #ffffff"></i
              ></a>
            </li>
            <li><a href="/user/login">Login</a></li>
          </ul>
        </div>
        <a href="#" class="burger-menu">
          <i class="fas fa-bars"></i>
        </a>
      </nav> -->
    </header>
    <main>
      <h1 class="titulo">Carrito de Compras</h1>
      <hr class="linea" />
      <section class="padre-titulares">
        <h3 class="titulares">Producto</h3>
        <h3 class="titulares">Precio</h3>
        <h3 class="titulares">Cantidad</h3>
      </section>
      <section class="productos">
        <article class="productoUno">
          <img class="foto" src="/img/corte-carne.jpg" alt="" width="200" />
          <p class="nombre-producto">producto 1</p>
        </article>
        <article class="productoUno">
          <p class="texto-precio">$400</p>
        </article>
        <article class="productoUno">
          <form class="formulario-cantidad" action="">
            <label class="texto-cantidad" cantidad="1"></label>
            <input type="number" min="1" name="cantidad" />
            <input type="reset" class="delete-button" value="X" />
          </form>
        </article>
      </section>

      <section class="productos">
        <article class="productoUno">
          <img class="foto" src="/img/corte-carne.jpg" alt="" width="200" />
          <p class="nombre-producto">producto 1</p>
        </article>
        <article class="productoUno">
          <p class="texto-precio">$400</p>
        </article>
        <article class="productoUno">
          <form class="formulario-cantidad" action="">
            <label class="texto-cantidad" cantidad="1"></label>
            <input type="number" min="1" name="cantidad" />
            <input type="reset" class="delete-button" value="X" />
          </form>
        </article>
      </section>

      <section class="productos">
        <article class="productoUno">
          <img class="foto" src="/img/corte-carne.jpg" alt="" width="200" />
          <p class="nombre-producto">producto 1</p>
        </article>
        <article class="productoUno">
          <p class="texto-precio">$400</p>
        </article>
        <article class="productoUno">
          <form class="formulario-cantidad" action="">
            <label class="texto-cantidad" cantidad="1"></label>
            <input type="number" min="1" name="cantidad" />
            <input type="reset" class="delete-button" value="X" />
          </form>
        </article>
      </section>
      <div class="but">
        <button class="submit-button">Comprar</button>
      </div>
    </main>
    <%- include("../partials/footer")  %>
    <!-- <footer>
      <p>El Bodegon, Argentina</p>
      <p class="copy">Copyright © 2023 Todos los derechos reservados.</p>
      <div class="redes">
        <a href="https://www.instagram.com/" class="insta"
          ><i class="fab fa-instagram instagram"></i
        ></a>
        <a href="https://www.facebook.com/" class="face"
          ><i class="fab fa-facebook facebook"></i
        ></a>
        <a href="https://twitter.com/" class="twi"
          ><i class="fab fa-twitter twitter"></i
        ></a>
      </div>
    </footer> -->
  </body>
</html>
