<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <% for (let i=0; i < cssFiles.length; i++) { %>
      <% if (i===0) { %>
        <link rel="stylesheet" href="<%= cssFiles[i] %>" />
        <% } %>
          <% if (i===2) { %>
            <link rel="stylesheet" href="<%= cssFiles[i] %>" />
            <% } %>
              <% } %>
    <title>Edicion de Productos</title>
  </head>
  <body class="body">
    <header><%- include("../partials/navbar") %></header>
    <main>
      <h1 class="title">Editar Producto</h1>
      <form action="/product" class="formulario-editar" method="post">
        <div class="section-container">
        <div class="form-group">
          <label for="productName">Nombre del Producto:</label>
          <input type="text" id="productName" name="productName" required />
        </div>
        <div class="form-group">
          <label for="comida">Categoria:</label>
          <select id="comida" name="comida" required>
            <option value="">Seleccione una opción</option>
            <option value="Bebidas">Bebidas</option>
            <option value="Carnes">Carnes</option>
            <option value="Ensaladas">Ensaladas</option>
            <option value="Milanesas">Milanesas</option>
            <option value="Pescados">Pescados</option>
            <option value="Postre">Postre</option>
          </select>
        </div>
      </div>
      <div class="section-container">
        <div class="form-group">
          <label for="productPrice">Precio:</label>
          <input type="text" id="productPrice" name="productPrice" required />
        </div>
        <div class="form-group">
          <label for="imagen">Cargar imagen:</label>
          <input type="file" id="imagen" name="imagen" required />
        </div>
      </div>
      <div class="section-container des">
        <div class="form-group">
          <label for="productDescription">Descripcion:</label>
          <textarea
            class="Descripcion"
            id="productDescription"
            name="productDescription"
            required
          ></textarea>
        </div>
      </div>
        <div class="botones">
          <button class="boton-borrar" type="delete">Borrar producto</button>
          <button class="boton-enviar" type="submit">Guardar cambios</button>
        </div>
      </form>
    </main>
    <footer><%- include("../partials/footer") %></footer>
  </body>
</html>
