<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <header><%- include("../partials/navbar") %></header>
    <main>
      <section>
        <h3>Nuestros productos</h3>
        <div class="contenedor-lista">
          <ul class="product-list">
            <li><a href="#milanesas">Milanesas</a></li>
            <li><a href="#carnes">Carnes</a></li>
            <li><a href="#pescados">Pescados</a></li>
            <li><a href="#ensaladas">Ensaladas</a></li>
            <li><a href="#bebidas">Bebidas</a></li>
            <li><a href="#postres">Postres</a></li>
          </ul>
        </div>
      </section>
      <div class="contenedor-productos">
        <section id="milanesas">
          <h3>Milanesas</h3>
          <article class="productos">
            <img src="/img/bola-de.jpg" alt="imagen-del-producto" />
            <div class="info-produ">
              <a href="/producto/id"><h5>Milanesa con Papas</h5></a>
              <div class="precio-boton">
                <p id="precio">$1.500</p>
                <button class="agregar-al-carrito">Agregar al carrito</button>
              </div>
            </div>
          </article>

          <article class="productos">
            <img src="/img/bola-de.jpg" alt="imagen-del-producto" />
            <div class="info-produ">
              <a href="/producto/id"><h5>Milanesa con Papas</h5></a>
              <div class="precio-boton">
                <p id="precio">$1.500</p>
                <button class="agregar-al-carrito">Agregar al carrito</button>
              </div>
            </div>
          </article>
        </section>

        <section id="carnes">
          <h3>Carnes</h3>
          <article class="productos">
            <img src="/img/bola-de.jpg" alt="imagen-del-producto" />
            <div class="info-produ">
              <a href="/producto/id"><h5>Milanesa con Papas</h5></a>
              <div class="precio-boton">
                <p id="precio">$1.500</p>
                <button class="agregar-al-carrito">Agregar al carrito</button>
              </div>
            </div>
          </article>
          <article class="productos">
            <img src="/img/bola-de.jpg" alt="imagen-del-producto" />
            <div class="info-produ">
              <a href="/producto/id"><h5>Milanesa con Papas</h5></a>
              <div class="precio-boton">
                <p id="precio">$1.500</p>
                <button class="agregar-al-carrito">Agregar al carrito</button>
              </div>
            </div>
          </article>
        </section>

        <section id="pescados">
          <h3>Pescados</h3>
          <article class="productos">
            <img src="/img/bola-de.jpg" alt="imagen-del-producto" />
            <div class="info-produ">
              <a href="/producto/id"><h5>Milanesa con Papas</h5></a>
              <div class="precio-boton">
                <p id="precio">$1.500</p>
                <button class="agregar-al-carrito">Agregar al carrito</button>
              </div>
            </div>
          </article>
          <article class="productos">
            <img src="/img/bola-de.jpg" alt="imagen-del-producto" />
            <div class="info-produ">
              <a href="/producto/id"><h5>Milanesa con Papas</h5></a>
              <div class="precio-boton">
                <p id="precio">$1.500</p>
                <button class="agregar-al-carrito">Agregar al carrito</button>
              </div>
            </div>
          </article>
        </section>

        <section id="ensaladas">
          <h3>Ensaladas</h3>
          <article class="productos">
            <img src="/img/bola-de.jpg" alt="imagen-del-producto" />
            <div class="info-produ">
              <a href="/producto/id"><h5>Milanesa con Papas</h5></a>
              <div class="precio-boton">
                <p id="precio">$1.500</p>
                <button class="agregar-al-carrito">Agregar al carrito</button>
              </div>
            </div>
          </article>
          <article class="productos">
            <img src="/img/bola-de.jpg" alt="imagen-del-producto" />
            <div class="info-produ">
              <a href="/producto/id"><h5>Milanesa con Papas</h5></a>
              <div class="precio-boton">
                <p id="precio">$1.500</p>
                <button class="agregar-al-carrito">Agregar al carrito</button>
              </div>
            </div>
          </article>
        </section>

        <section id="bebidas">
          <h3>Bebidas</h3>
          <article class="productos">
            <img src="/img/bola-de.jpg" alt="imagen-del-producto" />
            <div class="info-produ">
              <a href="/producto/id"><h5>Milanesa con Papas</h5></a>
              <div class="precio-boton">
                <p id="precio">$1.500</p>
                <button class="agregar-al-carrito">Agregar al carrito</button>
              </div>
            </div>
          </article>
          <article class="productos">
            <img src="/img/bola-de.jpg" alt="imagen-del-producto" />
            <div class="info-produ">
              <a href="/producto/id"><h5>Milanesa con Papas</h5></a>
              <div class="precio-boton">
                <p id="precio">$1.500</p>
                <button class="agregar-al-carrito">Agregar al carrito</button>
              </div>
            </div>
          </article>
        </section>

        <section id="postres">
          <h3>Postres</h3>
          <article class="productos">
            <img src="/img/bola-de.jpg" alt="imagen-del-producto" />
            <div class="info-produ">
              <a href="/producto/id"><h5>Milanesa con Papas</h5></a>
              <div class="precio-boton">
                <p id="precio">$1.500</p>
                <button class="agregar-al-carrito">Agregar al carrito</button>
              </div>
            </div>
          </article>
          <article class="productos">
            <img src="/img/bola-de.jpg" alt="imagen-del-producto" />
            <div class="info-produ">
              <a href="/producto/id"><h5>Milanesa con Papas</h5></a>
              <div class="precio-boton">
                <p id="precio">$1.500</p>
                <button class="agregar-al-carrito">Agregar al carrito</button>
              </div>
            </div>
          </article>
        </section>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
