<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <% for (let i=0; i < cssFiles.length; i++) { %>
      <% if (i===0) { %>
        <link rel="stylesheet" href="<%= cssFiles[i] %>" />
        <% } %>
          <% if (i===7) { %>
            <link rel="stylesheet" href="<%= cssFiles[i] %>" />
            <% } %>
              <% } %>
    <title>El Bodegon</title>
  </head>

  <body>
    <header>
      <%- include("../partials/navbar")  %>
    </header>
    <article>
      <section class="card">
        <div class="text-content">
          <h3>Producto #</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <button href="">Agregar al Carrito</button>
        </div>
        <div class="visual">
          <img src="/img/corte-carne.jpg" alt="" />
        </div>
      </section>
    </article>
  </body>
  <%- include("../partials/footer")  %>
</html>
