<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head")  %>
  <body>
    <header>
      <%- include("../partials/navbar")  %>
    </header>
    <article>
      <section class="card">
        <div class="text-content">
          <h3>Producto #</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <button href="">Agregar al Carrito</button>
        </div>
        <div class="visual">
          <img src="/img/corte-carne.jpg" alt="" />
        </div>
      </section>
    </article>
  </body>
  <%- include("../partials/footer")  %>
</html>
