<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/productoDetail.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>El Bodegon</title>
  </head>

  <body>
    <header>
      <%- include("../partials/navbar")  %>
      <!-- <nav class="nav-var">
        <div class="logo">
          <a href="/"
            ><img src="/img/logo_elbodegon.png" alt="lgo" width="10%" id="logo"
          /></a>
        </div>
        <div class="lista">
          <ul>
            <li><a href="/producto/menu">Menu</a></li>
            <li><a href="/producto/recetas">Recetas</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li>
              <a href="/producto/carrito"
                ><i class="fa-solid fa-cart-shopping" style="color: #ffffff"></i
              ></a>
            </li>
            <li><a href="/user/login">Login</a></li>
          </ul>
        </div>
        <a href="#" class="burger-menu">
          <i class="fas fa-bars"></i>
        </a>
      </nav> -->
    </header>
    <article>
      <section class="card">
        <div class="text-content">
          <h3>Producto #</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <button href="">Agregar al Carrito</button>
        </div>
        <div class="visual">
          <img src="/img/corte-carne.jpg" alt="" />
        </div>
      </section>
    </article>
  </body>
  <%- include("../partials/footer")  %>
  <!-- <footer>
    <p>El Bodegon, Argentina</p>
    <p class="copy">Copyright © 2023 Todos los derechos reservados.</p>
    <div class="redes">
      <a href="https://www.instagram.com/" class="insta"
        ><i class="fab fa-instagram instagram"></i
      ></a>
      <a href="https://www.facebook.com/" class="face"
        ><i class="fab fa-facebook facebook"></i
      ></a>
      <a href="https://twitter.com/" class="twi"
        ><i class="fab fa-twitter twitter"></i
      ></a>
    </div>
  </footer> -->
</html>
