<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/recetas.css">
</head>

<body>
    <header>
      <%- include("../partials/navbar")  %>  
      <!-- <nav class="nav-var">
            <div class="logo">
              <a href="/"
                ><img src="/img/logo_elbodegon.png" alt="lgo" width="10%" id="logo"
              /></a>
            </div>
            <div class="lista">
              <ul>
                <li><a href="/producto/menu">Menu</a></li>
                <li><a href="/producto/recetas">Recetas</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
                <li>
                  <a href="/producto/carrito"
                    ><i class="fa-solid fa-cart-shopping" style="color: #ffffff"></i
                  ></a>
                </li>
                <li><a href="/user/login">Login</a></li>
              </ul>
            </div>
            <a href="#" class="burger-menu">
              <i class="fas fa-bars"></i>
            </a>
          </nav> -->
    </header>
    <main>
        <h2>Recetas</h1>
            <section>
                <article>
                    <div class="left-container">
                        <h4> Lomo de Res a la Parrilla con Chimichurri</h4>
                        <div class="text-container">
                            <p>Ingredientes: </p><br><p>Lomo de res, sal, pimienta, perejil, ajo, aceite de oliva, vinagre de vino
                                tinto, orégano, pimiento rojo (opcional).</p>
                                <br>
                            <p>Instrucciones:</p><br><p> Sazona y cocina los filetes de lomo en la parrilla. Prepara el chimichurri
                                mezclando los ingredientes. Sirve con chimichurri por encima.</p>
                        </div>
                    </div>
                    <div class="right-container">
                        <img src="/img/lomo.jpg" alt="">
                    </div>
                </article>
                <article>
                    <div class="left-container">
                        <h4>Salmón al Horno con Salsa de Mantequilla y Limón</h4>
                        <div class="text-container">
                            <p>Ingredientes: </p><br><p>Filetes de salmón, sal, pimienta, mantequilla, jugo de limón, ajo, perejil.</p>
                            <p>Instrucciones: </p><br><p>Sazona el salmón y hornea con la mezcla de mantequilla y limón. Decora con rodajas de limón antes de servir.</p>
                        </div>
                    </div>
                    <div class="right-container">
                        <img src="/img/salmon.jpg" alt="">
                    </div>
                </article>
                <article>
                    <div class="left-container">
                        <h4>Tarta de Manzana Casera</h4>
                        <div class="text-container">
                            <p>Ingredientes:</p><br><p> Harina, azúcar, sal, mantequilla, huevo, agua, manzanas, canela, jugo de limón.</p>
                            <p>Instrucciones: </p><br><p>Mezcla los ingredientes de la masa y refrigérala. Mezcla las manzanas con azúcar, canela y limón. Arma la tarta y hornea hasta dorar.</p>
                        </div>
                    </div>
                    <div class="right-container">
                        <img src="/img/tarta.jpg" alt="">
                    </div>
                </article>
            
            </section>
    </main>
    <footer>
        <p>El Bodegon, Argentina</p>
        <p class="copy">Copyright © 2023 Todos los derechos reservados.</p>
        <div class="redes">
          <a href="https://www.instagram.com/" class="insta"
            ><i class="fab fa-instagram instagram"></i
          ></a>
          <a href="https://www.facebook.com/" class="face"
            ><i class="fab fa-facebook facebook"></i
          ></a>
          <a href="https://twitter.com/" class="twi"
            ><i class="fab fa-twitter twitter"></i
          ></a>
        </div>
      </footer>
</body>

</html>